<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="margin-left:40%;font-size:small;">
        <h1>Ultron</h1>
    </div>
      <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg">
    <br>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>address</th>
        </tr>
        <tr>
            <td><%= dataId%></td>  <!--id-->
            <td><%= dataName%></td>
            <td><%= dataAddress%></td>
        </tr>
    </table>
    <style>
        img{
            height: 80px;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
           
        }
        table{
            width: 100%;
            text-align: center;
        }
    </style>
    <script>
         const dbdata = {
        empid:97,
        name:"raju",
        address:"earth."
    }

    const empId = dbdata.empid;
    console.log(empId)
    </script>
</body>
</html>






